.footer {
    position: fixed;
    bottom: 0;
    width: calc(100% - 250px); 
    left: 250px; 
    color: white;
    text-align: center;
    padding: 0px;
    z-index: 900;
}

body {
    margin: 0;
    padding-bottom: 50px; 
}
